---
---
@import "{{ site.theme }}";

body {
  background: #c034eb; /* Fallback for older browsers */
  background: linear-gradient(135deg, #c034eb 0%, #eb34b7 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}
